.main-container {
	.__form {
		@apply space-y-4
    lg:w-1/2
    lg:mx-auto;
		.__field {
			.__label {
				@apply block
        mb-1;
			}
			.__input {
				@apply block
        w-full
        h-10
        px-4
        border-2
        border-rose-100
        rounded-md
        focus:border-rose-500;
				&.--textarea {
					@apply min-h-24
          py-2;
				}
			}
			.__validation {
				.__span {
					@apply block
					text-red-500;
				}
			}

			&.--privacy-policy {
				@apply text-center
        lg:w-fit
        lg:mx-auto;
				.__label {
					@apply inline
          cursor-pointer;
				}
				.__input {
					@apply inline;
				}
			}
		}
		.__button {
			@apply w-fit
      mx-auto;
		}
	}
}
