.main-container {
	@apply flex
    items-center
    justify-between;

	.__logo {
		@apply w-32;
	}

	.__menu-desktop {
		@apply hidden
		lg:block
		lg:w-fit;
	}

	.__menu-mobile {
		@apply w-8
		lg:hidden;
	}
}
