.main-container {
	.__cards {
		@apply flex
    flex-nowrap
    gap-4
    w-full
    max-lg:overflow-x-scroll
    lg:flex-wrap
    lg:justify-center;
		.__card {
			@apply min-w-72
      lg:w-[32%];
		}
	}
}
