<div class="main-container">
	<header class="__header">
		<div class="__container">
			<app-header></app-header>
		</div>
	</header>
	<main class="__main">
		<div class="__container">
			<router-outlet></router-outlet>
		</div>
	</main>
	<footer class="__footer">
		<div class="__container">
			<app-footer></app-footer>
		</div>
	</footer>
</div>

<div class="__mobile-menu">
	<div
		class="__container"
		[ngClass]="{ '--open': onMobileMenu }">
		<app-mobile-menu></app-mobile-menu>
	</div>
	@if (onMobileMenu) {
		<div
			class="__layer"
			(click)="toggleOnMobileMenu()"></div>
	}
</div>
