.main-container {
	.__header {
		@apply fixed
    z-[10]
		top-0
		left-0
		flex
    justify-center
    items-center
		w-full
    h-24
    px-4
    bg-rose-100;

		.__container {
			@apply max-w-[1300px]
      w-full;
		}
	}
	.__footer {
		@apply flex
    justify-center
		w-full
    p-4
    bg-rose-100;

		.__container {
			@apply max-w-[1300px]
      w-full;
		}
	}
}

.__mobile-menu {
	.__container {
		height: calc(100vh - 96px);
		top: 96px;
		@apply fixed
		z-[9]
		left-full
		w-screen
		bg-white
		transition-all
		lg:hidden;

		&.--open {
			@apply -translate-x-full;
		}
	}
	.__layer {
		@apply fixed
		z-[4]
		top-0
		left-0
		w-screen
		h-screen
		lg:hidden;
	}
}
