.global__modules-container {
	.--image-section {
		height: calc(100vh - 128px);

		@media (width > 1024px) {
			background-image: url('https://img.freepik.com/foto-gratis/retrato-joven-empresaria-oficina-que-responde-clientes-computadora-portatil-que-trabaja-computadora-felicidad_1258-119567.jpg?w=900&t=st=1712440399~exp=1712440999~hmac=fa30d9de9c620b4de5dd9827774ea42679de7931ab463758c2056ec61cdd8a0f');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
}
