.global__modules-container {
	.--image-section {
		height: calc(100vh - 128px);
		@apply bg-gray-100;

		@media (width > 1024px) {
			background-image: url('/assets/png/background/background.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
}
