.main-container {
	@apply flex
  items-center
  w-full
  h-full
  max-lg:justify-center;

	.__content {
		@apply w-[90%]
    space-y-3

    lg:w-[35%]
    lg:ml-auto
    lg:mr-10;
		.__buttons {
			@apply flex
      justify-between
      items-center
      w-full;
			.__social-media {
				@apply flex
        gap-2;
				.__item {
					@apply cursor-pointer
          hover:scale-[1.01];
				}
			}
		}
	}
}
